Client/DesktopApp/src/META-INF/wsdl/localhost_8080/ClientWS/CustomerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client/" name="CustomerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://client/" schemaLocation="http://localhost:8080/ClientWS/CustomerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="loadBooks">
<part name="parameters" element="tns:loadBooks"/>
</message>
<message name="loadBooksResponse">
<part name="parameters" element="tns:loadBooksResponse"/>
</message>
<message name="returnSingleBook">
<part name="parameters" element="tns:returnSingleBook"/>
</message>
<message name="returnSingleBookResponse">
<part name="parameters" element="tns:returnSingleBookResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="signUp">
<part name="parameters" element="tns:signUp"/>
</message>
<message name="signUpResponse">
<part name="parameters" element="tns:signUpResponse"/>
</message>
<message name="getGenre">
<part name="parameters" element="tns:getGenre"/>
</message>
<message name="getGenreResponse">
<part name="parameters" element="tns:getGenreResponse"/>
</message>
<message name="getAccountDetails">
<part name="parameters" element="tns:getAccountDetails"/>
</message>
<message name="getAccountDetailsResponse">
<part name="parameters" element="tns:getAccountDetailsResponse"/>
</message>
<portType name="CustomerWS">
<operation name="loadBooks">
<input wsam:Action="http://client/CustomerWS/loadBooksRequest" message="tns:loadBooks"/>
<output wsam:Action="http://client/CustomerWS/loadBooksResponse" message="tns:loadBooksResponse"/>
</operation>
<operation name="returnSingleBook">
<input wsam:Action="http://client/CustomerWS/returnSingleBookRequest" message="tns:returnSingleBook"/>
<output wsam:Action="http://client/CustomerWS/returnSingleBookResponse" message="tns:returnSingleBookResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://client/CustomerWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://client/CustomerWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="signUp">
<input wsam:Action="http://client/CustomerWS/signUpRequest" message="tns:signUp"/>
<output wsam:Action="http://client/CustomerWS/signUpResponse" message="tns:signUpResponse"/>
</operation>
<operation name="getGenre">
<input wsam:Action="http://client/CustomerWS/getGenreRequest" message="tns:getGenre"/>
<output wsam:Action="http://client/CustomerWS/getGenreResponse" message="tns:getGenreResponse"/>
</operation>
<operation name="getAccountDetails">
<input wsam:Action="http://client/CustomerWS/getAccountDetailsRequest" message="tns:getAccountDetails"/>
<output wsam:Action="http://client/CustomerWS/getAccountDetailsResponse" message="tns:getAccountDetailsResponse"/>
</operation>
</portType>
<binding name="CustomerWSPortBinding" type="tns:CustomerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loadBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnSingleBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWS">
<port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
<soap:address location="http://localhost:8080/ClientWS/CustomerWS"/>
</port>
</service>
</definitions>