Client/CS183P Java_Web App/web/WEB-INF/wsdl/localhost_8080/ClientWS/CustomerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://client/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://client/">

<xs:element name="getAccountDetails" type="tns:getAccountDetails"/>

<xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"/>

<xs:element name="getGenre" type="tns:getGenre"/>

<xs:element name="getGenreResponse" type="tns:getGenreResponse"/>

<xs:element name="loadBooks" type="tns:loadBooks"/>

<xs:element name="loadBooksResponse" type="tns:loadBooksResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="returnSingleBook" type="tns:returnSingleBook"/>

<xs:element name="returnSingleBookResponse" type="tns:returnSingleBookResponse"/>

<xs:element name="signUp" type="tns:signUp"/>

<xs:element name="signUpResponse" type="tns:signUpResponse"/>

<xs:complexType name="signUp">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="first_name" type="xs:string" minOccurs="0"/>
<xs:element name="last_name" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="creditCard" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadBooks">
<xs:sequence>
<xs:element name="genreId" type="xs:int"/>
<xs:element name="sizeOfList" type="xs:int"/>
<xs:element name="index" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadBooksResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGenre">
<xs:sequence>
<xs:element name="genreId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGenreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnSingleBook">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnSingleBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetails">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>